<!-- 
{% include 'partials/header' %} 

{% for item in colors %}
  {{ item[0] }}: {{ item[1] }}
{% endfor %} -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>{% include "partials/title" %} </title>  
</head>
<body>

	<table>
		<caption>Every color, set against every other color</caption>
		{% for color_a in colors %}
			<tr >
				{% for color_b in colors %}
					<td style="color:#{{color_a[1]}};background-color:#{{color_b[1]}};" >
						<p >
							{{ color_a[0] }}:{{ color_a[1] }} on {{ color_b[0] }}:{{ color_b[1] }}
						</p>
					</td>
				{% endfor %}
			</tr>
		{% endfor %}	  
	</table>
	
</body>
</html>