!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title #{castle}
  %body
    %table
      - colors.each do |k, v|
        %tr{ :style => "background-color: ##{v}" }
          - colors.each do |kk, vv|
            %td
              %p{ :style => "color: ##{vv}" }
                %b #{kk} on #{k}